body {
    background-image: url("/media/desk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
}

.container {
    margin: 20px auto;
    max-width: 800px;
    background: rgba(8, 8, 8, 0.63);
    border-radius: 6px;
    color: white;

}
header  {
    text-align: center;
    font-family: "Rubik", sans-serif;
}

h1 {
    font-size: 36px;
    padding: 10px 5px;
    margin: 0 auto;
}

h1:hover {
    transition: all 0.5s ease;
    text-shadow: 0 0 10px #c7d507, 0 0 20px #dab89e, 0 0 30px #c69774;
    color: #f9f5ef;
    letter-spacing: 2px;
}

h2 {
    font-size: 20px;
    letter-spacing: 2px;
}

.requirements {
    font-family: "Rubik", sans-serif;
    background-color: rgb(250, 246, 85, 0.1);
    box-shadow: 1px 1px 5px rgb(250, 246, 85);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.skills-keywords,
.skills-input {
    margin-top: 20px;
}

.job-title,
.skills-keywords {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    display: block; 
}

.title-input,
.skills-input {
    display: block;
    padding: 15px;
    border: 1px solid #cddb05;
    width: 70%;
    font-size: 12px;
    border-radius: 50px;
    color: #b46f3a;
    background: rgba(250, 247, 85, 0.789);
    margin: 0 auto;
    
}

.generate-button {
    display: block;
    padding: 15px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 19px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    width: 40%;
    color: white;
    background: #e7dc0be4;
}

.generate-button:hover {
    transition: all 0.5s ease;
    box-shadow: 0 0 10px #c7d507, 0 0 20px #dab89e, 0 0 30px #c69774;
    color: #f9f5ef;
    background: rgb(179, 164, 146);
    cursor: pointer;
}S

.bullet {
    font-family: "Rubik", sans-serif;
    padding: 20px;
    margin: 0 auto;
    color: white;
    line-height: 1.5;
    font-size: 15px;
    border: 1px solid #c7d507;
    border-radius: 6px;
    box-shadow: 4px 5px 5px rgb(250, 246, 85);
        
}

.hidden {
    display: none;
}

.bullet strong{
    color: #c7d507;
}

a {
    color: #cddb05;
}

footer {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    color: white;
    padding: 5px;
    margin-bottom: ;

}

/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-size: 30px;
    font-family: system-ui, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #cddb05;
    background:
        radial-gradient(0.71em at 50% 1em, #000 99%, #0000 101%) calc(50% - 1em) 1em/2em 200% repeat-x text,
        radial-gradient(0.71em at 50% -0.5em, #0000 99%, #000 101%) 50% 1.5em/2em 200% repeat-x text;
    animation:
        l10-0 .8s linear infinite alternate,
        l10-1 4s linear infinite;
} 

.loader:before {
    content: "Loading";
}

@keyframes l10-0 {
    to {
        background-position-x: 50%, calc(50% + 1em)
    }
}

@keyframes l10-1 {
    to {
        background-position-y: -.5em, 0
    }
} 